/* @tailwind base; */
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://btd6leaderboards.netlify.app/PowersPatternBg.png");
  background-color: #0077d9;
  font-family: var(--font-kalam);
  -webkit-text-stroke: 2px black;
  color: white;
}

form * {
  margin: 0 0.5rem;
  font-size: inherit;
  font-family: inherit;
  padding: 1rem 0.5rem 0 0.5rem;
  text-align: center;
  color: inherit;
}

input[type="text"] {
  width: 2.5em;
  text-align: center;
  background-color: #67573d;
  border: 7px solid #947f5d;
  border-radius: 0.5rem;
}

form select {
  background-color: #0063a9;
  border: 7px solid #283593;
  border-radius: 0.5rem;
  color: white;
}

button {
  background-color: #00dfff;
  border: 7px solid #0063a9;
  border-radius: 0.5rem;
}

.challenge-type-container {
  background-color: #007bd8;
  border: 7px solid #003958;
}

.specs-container {
  background-color: #5f4b3c;
  border: 7px solid #7b6550;
  border-radius: 0.5rem;
}

.tower-list-container {
  background-color: #4e3b2d;
}

.primary {
  background-image: linear-gradient(#8fd7f4, #00a2eb);
  border: 7px solid #00a2eb;
}

.military {
  background-image: linear-gradient(#7ef780, #008800);
  border: 7px solid #008800;
}

.magic {
  background-image: linear-gradient(#c78afe, #8c00fc);
  border: 7px solid #8c00fc;
}

.support {
  background-image: linear-gradient(#fbbd66, #fa8100);
  border: 7px solid #fa8100;
}

.military img {
  width: 100%;
}

.max-amount {
  position: absolute;
  top: -5px;
  left: -5px;
  background-color: #00dfff;
  border: 7px solid #0063a9;
  border-radius: 9999px;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
}

.max-amount p {
  align-self: center;
  margin: 0;
  padding: 0;
}
